name: Docker Image CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 3 * * *'

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
       include:
         - php-base-image-version: 5.6-fpm
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.5.5"
           pecl-mongodb-suffix: "-1.5.5"
         - php-base-image-version: "7.0-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.7.2"
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.1-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.9.8"
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.2-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: ""
         - php-base-image-version: "7.3-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.4-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
         - php-base-image-version: "8.0-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
         - php-base-image-version: "8.1-fpm"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
         - php-base-image-version: "5.6-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.5.5"
           pecl-mongodb-suffix: "-1.5.5"
         - php-base-image-version: "7.0-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.7.2"
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.1-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: "-2.9.8"
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.2-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.3-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: "1"
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
         - php-base-image-version: "7.4-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
         - php-base-image-version: "8.0-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
         - php-base-image-version: "8.1-apache"
           dockerfile-flavour: "debian"
           legacy-gd-lib: ""
           pecl-xdebug-suffix: ""
           pecl-mongodb-suffix: ""
      fail-fast: false
    env:
      PHP_IMAGE_NAME: "yiisoftware/yii2-php"
      PHP_BASE_IMAGE_VERSION: ${{ matrix.php-base-image-version }}
      DOCKERFILE_FLAVOUR: ${{ matrix.dockerfile-flavour }}
      X_LEGACY_GD_LIB: ${{ matrix.legacy-gd-lib }}
      PECL_XDEBUG_INSTALL_SUFFIX: ${{ matrix.pecl-xdebug-suffix }}
      PECL_MONGODB_INSTALL_SUFFIX: ${{ matrix.pecl-mongodb-suffix }}
    steps:
    - uses: actions/checkout@v1
    - name: Set version suffix
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "PHP_IMAGE_VERSION_SUFFIX=-${GITHUB_REF:10}" >> $GITHUB_ENV
    - name: Install
      env:
        TEST_YII_VERSION: "857f049e2e8967d11023f5958524acca54c195fe"
      run: |
        git clone https://github.com/yiisoft/yii2 _host-volumes/yii2
        pushd _host-volumes/yii2 && git checkout ${TEST_YII_VERSION} && popd
        cp .env-dist .env
    - name: Print Info
      run: |
        pwd
        docker version
        docker info
        docker-compose version
    - name: Build Image
      run: docker-compose build --build-arg X_LEGACY_GD_LIB=$X_LEGACY_GD_LIB
    - name: Test
      run: |
        docker-compose run --rm php-min php -v | grep "Xdebug" && exit 1
        docker-compose run --rm php-min php /tests/requirements.php
        docker-compose run --rm php-dev php /tests/requirements.php
        docker-compose run --rm -w /yii2 php-dev composer install --prefer-dist
        docker-compose run --rm -w /yii2 php-dev php -d error_reporting="E_ALL ^ E_DEPRECATED" vendor/bin/phpunit tests/framework/ --exclude db
        docker-compose run --rm -e PHP_ENABLE_XDEBUG=1 php-dev php -v | grep "Xdebug" || exit 1
        docker images
    - name: Login to Docker
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}
    - name: Push docker image
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
      run: docker-compose push
